.welcome{
    text-align: center;
    color: brown;
    
  
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -200px;
  
  }
  .viewContacts{
    background: brown;
    color: white;
    border-radius: 5px;
    font-size: 18px;
  }